#!/usr/bin/env ruby

compile '/*/projects/*.html' do
  filter :erb
  layout '/project.*'
end

compile '/**/*.html' do
  filter :erb
  layout '/default.*'
end

compile '/images/stripes/*', rep: :fit do
  filter :thumbnailize, width: 1920
  filter :jpegize
  write "#{item.identifier.without_ext}-fit.jpg"
end

# This is an example rule that matches Markdown (.md) files, and filters them
# using the :kramdown filter. It is commented out by default, because kramdown
# is not bundled with Nanoc or Ruby.
#
#compile '/**/*.md' do
#  filter :kramdown
#  layout '/default.*'
#end

route %r{/(pl|en)/.*.(html|md)} do |langs|
  lang = langs.first
  if item.identifier =~ "/#{lang}/index.*"
    "/#{lang}/index.html"
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
