<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <a href="/<%= lang_code(@item) %>/projects/prowizorka">
                <div class="project-stripe">
                    <img src="<%= stripe_path('prowizorka') %>" />
                    <div class='description'>
                        <p class='title'>Prowizorka (Quick Fix)</p>
                        <p class='content'>
                            Mobile application intended to promote street artists and informal culture of any kind. It can track  locations of your favourite artists and art pieces in the neighbourhood and allows to donate them some money via PayPal.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/zizzz">
                <div class="project-stripe">
                    <img src="<%= stripe_path('zizzz') %>" />
                    <div class='description'>
                        <p class='title'>Zizzz</p>
                        <p class='content'>
                            We present you Zizzz - hotel on demand. Click a button on  your  phone  and  the  nearest  driverless  mobile  bed  will  find  you.  It is small (what else would you need?), cheap (because you pay only for time spent in it), really quick (the firstnearest room would appear as soon as possible) and easy to order (via comfortable phone app).
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
