<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <a href="/<%= lang_code(@item) %>/projects/wwu">
                <div class="project-stripe">
                    <img src="<%= stripe_path('wwu2') %>" />
                    <div class='description'>
                        <p class='title'>Lights and shadows</p>
                        <p class='content'>
                            An installation for the children's daycare centre in Warsaw. The intervention of „lighting up” the fence and elevations with small trembling mirrors makes the place more attractive both for children and adults.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/fabryka">
                <div class="project-stripe">
                    <img src="<%= stripe_path('fabryka') %>" />
                    <div class='description'>
                        <p class='title'>Science and Technology Park in Opole</p>
                        <p class='content'>
                            An urban and architectural concept of a research centre for new branches of industry. It consist of laboratories, office buildings and production halls connected with a common passage.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/pawilon">
                <div class="project-stripe">
                    <img src="<%= stripe_path('jez') %>" />
                    <div class='description'>
                        <p class='title'>WrUT Pavilion</p>
                        <p class='content'>
                            An exhibition pavilion built for the 70th anniversary of Wrocław University of Technology. Wooden structure filled with cardboard tubes creates a unique space to present the historical timeline of the university.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/gecko">
                <div class="project-stripe">
                    <img src="<%= stripe_path('gekon') %>" />
                    <div class='description'>
                        <p class='title'>The Gecko</p>
                        <p class='content'>
                            A prototype of a digital fabricated facade system. It is based on a principle of connecting form and contraform by using scanning and 3d printing.   Revarded with the main prize of the international workshops InDeSem 2015 re.craft in Delft.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/interior">
                <div class="project-stripe">
                    <img src="<%= stripe_path('interior') %>" />
                    <div class='description'>
                        <p class='title'>Idea Box</p>
                        <p class='content'>
                            An interior design for an apartment in Bratislava dedicated for a young, active couple. It has an open plan with a core storage box separting bedroom space from other zones.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/sancova">
                <div class="project-stripe">
                    <img src="<%= stripe_path('sancova') %>" />
                    <div class='description'>
                        <p class='title'>Adapter</p>
                        <p class='content'>
                            An interior design for an apartment in Bratislava dedicated for a young, active couple. It has an open plan with a core storage box separting bedroom space from other zones.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/przedszkole">
                <div class="project-stripe">
                    <img src="<%= stripe_path('przedszkole') %>" />
                    <div class='description'>
                        <p class='title'>Kindergarten in Brzeg</p>
                        <p class='content'>
                            A conceptual project of a sustainable kindergarten consists of seven free-standing units connected with each other. By using glazed wooden frame structure the good quality of lighting and ventilation is provided.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/ach">
                <div class="project-stripe">
                    <img src="<%= stripe_path('ach') %>" />
                    <div class='description'>
                        <p class='title'>ACH! Student Media Center</p>
                        <p class='content'>
                            A restoration project for a modernistic auditorium building in Wrocław. The concept includes creating a cultural center combined with a fully-equipped recording studio and a cafe. Functional changes cause no harm for the preserved form of the building. 
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/prowizorka">
                <div class="project-stripe">
                    <img src="<%= stripe_path('prowizorka') %>" />
                    <div class='description'>
                        <p class='title'>Prowizorka (Quick Fix)</p>
                        <p class='content'>
                            Mobile application intended to promote street artists and informal culture of any kind. It can track  locations of your favourite artists and art pieces in the neighbourhood and allows to donate them some money via PayPal.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/trans">
                <div class="project-stripe">
                    <img src="<%= stripe_path('trans') %>" />
                    <div class='description'>
                        <p class='title'>TRANSition – cross-cultural meditation center</p>
                        <p class='content'>
                            Meditation may be a method of self-improvement in different cultures. Main spacial idea of the project was to create universal space focused on the light and sky. It is all about trasnition - the further you go, the more light and air you get. 
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/dyplom">
                <div class="project-stripe">
                    <img src="<%= stripe_path('dyplom') %>" />
                    <div class='description'>
                        <p class='title'>Senior cohousing</p>
                        <p class='content'>
                            The project consist of two infill buildings – multifamily house and service building connected by common yard.  Living in cohousing provides better conditions for eldrely people by combining possibility of living in an independent apartment in the city center with great support from the community of neighbours.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/grid">
                <div class="project-stripe">
                    <img src="<%= stripe_path('grid') %>" />
                    <div class='description'>
                        <p class='title'>The Grid</p>
                        <p class='content'>
                            Prototype of a living unit – shelter for homeless people. It consist of a set of woden elements and can be assembled fast and easily without any additional tools. The grid can be filled with any insulation material available. The whole structure is covered with a waterproof, semitransparent foil.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/zizzz">
                <div class="project-stripe">
                    <img src="<%= stripe_path('zizzz') %>" />
                    <div class='description'>
                        <p class='title'>Zizzz</p>
                        <p class='content'>
                            We present you Zizzz - hotel on demand. Click a button on  your  phone  and  the  nearest  driverless  mobile  bed  will  find  you.  It is small (what else would you need?), cheap (because you pay only for time spent in it), really quick (the firstnearest room would appear as soon as possible) and easy to order (via comfortable phone app).
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/biblioteka">
                <div class="project-stripe">
                    <img src="<%= stripe_path('biblioteka') %>" />
                    <div class='description'>
                        <p class='title'>Public Library Nowe Żerniki</p>
                        <p class='content'>
                            The main concept of the library was to place the collection of books in the center, creating a heart of the building. It is surrounded  by ramps with diverse spaces for readers. Flexible plan allows to arrange various cultural activities.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
