<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <a href="/<%= lang_code(@item) %>/projects/wwu">
                <div class="project-stripe">
                    <img src="<%= stripe_path('wwu2') %>" />
                    <div class='description'>
                        <p class='title'>Blaski i cienie</p>
                        <p class='content'>
                            Instalacja zrealizowana na terenie Ogniska Wychowawczego Mokotów. Interwencja polegała na „rozświetleniu” ogrodzenia budynku małymi, drgającymi lusterkami. Miało to na celu zwiększenie atrakcyjności miejsca wśród dzieci oraz zwrócenie uwagi okolicznych mieszkańców na potrzeby instytucji.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/fabryka">
                <div class="project-stripe">
                    <img src="<%= stripe_path('fabryka') %>" />
                    <div class='description'>
                        <p class='title'>Park Naukowo-Technologiczny w Opolu</p>
                        <p class='content'>
                            Koncepcja zespołu obiektów naukowo-badawczych dla nowych gałęzi przemysłu. Składa się on z równolegle ustawionych budynków laboratoryjnych, biurowych i produkcyjnych połączonych wspólnym pasażem na poziomie drugiej kondygnacji. Układ ten umożliwia ewentualną dalszą rozbudowę Parku i łatwą obsługę obiektu.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/pawilon">
                <div class="project-stripe">
                    <img src="<%= stripe_path('jez') %>" />
                    <div class='description'>
                        <p class='title'>Pawilon PWr</p>
                        <p class='content'>
                            Pawilon ekspozycyjny zrealizowany z okazji 70-lecia Politechniki Wrocławskiej. Konstrukcja z drewnianych łuków wypełniona tulejami tekturowymi tworzy wyjątkową przestrzeń do prezentacji historii uczelni.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/gecko">
                <div class="project-stripe">
                    <img src="<%= stripe_path('gekon') %>" />
                    <div class='description'>
                        <p class='title'>The Gecko</p>
                        <p class='content'>
                            Prototyp samonośnego systemu fasadowego wykorzystującego metody fabrykacji cyfrowej zainspirowany budową ciała gekona. Bazuje na zasadzie łączenia powierzchni typu pozytyw-negatyw dzięki zastosowaniu skanowania i druku 3d. 
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/interior">
                <div class="project-stripe">
                    <img src="<%= stripe_path('interior') %>" />
                    <div class='description'>
                        <p class='title'>Idea Box</p>
                        <p class='content'>
                            Projekt aranżacji wnętrza mieszkania w Bratysławie przeznaczonego dla młodej, aktywnej pary. Charakteryzuje się otwartym planem z centralnym prostopadłościennym meblem oddzielającym część sypialną od pozostałych stref domu.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/sancova">
                <div class="project-stripe">
                    <img src="<%= stripe_path('sancova') %>" />
                    <div class='description'>
                        <p class='title'>Adapter</p>
                        <p class='content'>
                            Projekt rewaloryzacji urbanistycznej w śródmieściu Bratysławy. Kombinacja stałych i tymczasowych interwencji w tkance miejskiej podnosi standard życia w sąsiedztwie jednocześnie zapobiegając negatywnej w skutkach gentryfikacji.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/przedszkole">
                <div class="project-stripe">
                    <img src="<%= stripe_path('przedszkole') %>" />
                    <div class='description'>
                        <p class='title'>Przedszkole w Brzegu</p>
                        <p class='content'>
                            Projekt zrównoważonego przedszkola składający się z siedmiu połączonych ze sobą modułów - „domków”. Ich tradycyjny kształt nawiązuje do otaczającej zabudowy a rozdrobniona kubatura zapewnia zachowanie skali przyjaznej dziecku. 
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/ach">
                <div class="project-stripe">
                    <img src="<%= stripe_path('ach') %>" />
                    <div class='description'>
                        <p class='title'>ACH! Centrum Nowych Mediów</p>
                        <p class='content'>
                            Koncepcja programowo-przestrzenna zagospodarowania modernistycznego budynku Audytorium Chemii Uniwersytety Wrocławskiego. Zakłada stworzenie centrum kulturalne-medialnego z kawiarnią i profesjonalnym studiem nagrań, które mogłoby być wykorzystywane przez studentów sąsiedniego instytutu dziennikarstwa.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/prowizorka">
                <div class="project-stripe">
                    <img src="<%= stripe_path('prowizorka') %>" />
                    <div class='description'>
                        <p class='title'>Prowizorka</p>
                        <p class='content'>
                            Projekt aplikacji mobilnej służącej do promowania artystów ulicznych i szeroko pojętej kultury nieformalnej i tymczasowej. Pozwala na lokalizację użytkowników oraz umożliwia wsparcie finansowe wybranego artysty, działając jak „wirtualny kapelusz”.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/trans">
                <div class="project-stripe">
                    <img src="<%= stripe_path('trans') %>" />
                    <div class='description'>
                        <p class='title'>TRANSition – międzykulturowe centrum medytacji</p>
                        <p class='content'>
                            Medytacja traktowana jest jako metoda udoskonalenia samego siebie, uniwersalna dla różnych kultur i wyznań. Głównym założeniem przestrzennym jest motyw wędrówki w stronę światła, które może stanowić zarówno odniesienie do dążenia ku niebu, życiowej drogi jak i oczyszczenia i oświecenia umysłu. Trzon budynku stanowi więc przestrzeń oświetlana zwiększającymi się na każdym piętrze świetlikami, kierującymi wzrok odbiorcy ku górze.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/dyplom">
                <div class="project-stripe">
                    <img src="<%= stripe_path('dyplom') %>" />
                    <div class='description'>
                        <p class='title'>Cohousing dla seniorów</p>
                        <p class='content'>
                            Zespół dwóch budynków plombowych wraz z zagospodarowaniem terenu kwartału na Nadodrzu we Wrocławiu. Składa się on z przystosowanego do potrzeb osób starszych obiektu wielorodzinnego oraz uzupełniającego budynku usługowego. Cohousing – współzamieszkiwanie – może być odpowiedzią na problemy mieszkaniowe i społeczne starzejącego się społeczeństwa łącząc zalety niezależnego mieszkania i zwiększonego wsparcia ze strony wspólnoty sąsiedzkiej.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/grid">
                <div class="project-stripe">
                    <img src="<%= stripe_path('grid') %>" />
                    <div class='description'>
                        <p class='title'>The Grid</p>
                        <p class='content'>
                            Prototyp schronienia dla osób pozbawionych dachu nad głową. Składa się z zestawu specjalnie opracowanych drewnianych części łączonych ze sobą bez użycia żadnych dodatkowych elementów i narzędzi. Powstałą siatkę półek można wypełnić dowolnymi łatwo dostępnymi materiałami dla uzyskania większej izolacyjności termicznej. Całość przykryta została wodoodporną półprzezroczystą folią.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/zizzz">
                <div class="project-stripe">
                    <img src="<%= stripe_path('zizzz') %>" />
                    <div class='description'>
                        <p class='title'>Zizzz</p>
                        <p class='content'>
                            Od teraz nie musisz wracać do hotelu – hotelem jest całe miasto! Przedstawiamy Zizzz – hotel na życzenie. Wystarczy kliknąć jeden przycisk i najbliższa mobilna sypialnia znajdzie Cię sama. Proste, tanie i szybkie alternatywne rozwiązanie noclegowe z dostawą do Ciebie. 
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/biblioteka">
                <div class="project-stripe">
                    <img src="<%= stripe_path('biblioteka') %>" />
                    <div class='description'>
                        <p class='title'>Biblioteka Publiczna Nowe Żerniki</p>
                        <p class='content'>
                            Projekt biblioteki oparty na idei centralnie umiejscowionego księgozbioru - „serca” obiektu – oraz okrążających go czytelni umiejscowionych na pochylniach. W odpowiedzi na zmieniającą się rolę bibliotek we współczesnej kulturze głównym celem projektu było stworzenie różnorodnych przestrzeni odpowiadających zmieniającym się aktywnościom czytelników.
                        </p>
                    </div>
                </div>
            </a>
            <a href="/<%= lang_code(@item) %>/projects/doublecrossed">
                <div class="project-stripe">
                    <img src="<%= stripe_path('doublecrossed') %>" />
                    <div class='description'>
                        <p class='title'>Double-crossed</p>
                        <p class='content'>
                            Koncepcja przywołuje przytłaczający swoją skalą Plan Voisin i konfrontuje go z istniejącą tkanką urbanistyczną. Osiemnaście czarnych krzyży przeniesionych bezpośrednio z planów Le Corbusiera unosi się nad głowami paryżan rzucając cień na istniejące miasto. Zamiast trwałego pomnika pamięci – tymczasowa instalacja pełniąca rolę pożegnania. 
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
